<%- include('partials/header.ejs') -%>

    <h1>Home</h1>

    <p>
        <%= home %>
    </p>

    <% posts.forEach(function(item) { %>
        <% console.log("item is: ", item.postTitle); %>
            <h1>
                <%= item.postTitle %>
            </h1>
            <p>
                <%= item.postDescription %>
            </p>
            <% }) %>



                <%- include('partials/footer.ejs') -%>