<%- include('partials/header.ejs') -%>

<h1>Home</h1>

<p> <%= home %> </p>

<h1> <%= postHeader %> </h1>

<p> <%= postDes %> </p>

<% console.log('heheeh', JSON.stringify(posts)) %>


<%- include('partials/footer.ejs') -%>