<%- include('partials/header.ejs') -%>

    <h1>Home</h1>

    <!-- embedding the dynamic value from the server -->
    <p>
        <%= home %>
    </p>

    <!-- adding script code and enclosing in scriptlet tag -->
    <% posts.forEach(function(item) { %>
        <% console.log("item is: ", item.postTitle); %>
            <h1>
                <%= item.postTitle %>
            </h1>
            <p>
                <%= item.postDescription.substring(0,100) + " ..." %>
                <!-- adding href value dynamically -->
                <a href="/posts/<%= item.postTitle %>">Read More</a>
            </p>
    <% }) %>



<%- include('partials/footer.ejs') -%>